[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mansel-lib = {editable = true, path = "./lib"}

[dev-packages]
mypy = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
pylint = "*"
pycodestyle = "*"
pytest-pudb = "*"
setuptools = "*"
wheel = "*"
twine = "*"
pytest-qt = "*"
"pyside2" = "*"
black = "*"
